@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


.wrapper {}


body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.container {
    max-width: 530px;
    margin: 0 auto;
}

.case {
    max-width: 700px;
    margin: 0 auto;
}

.text {
    font-family: 'Source Serif Pro', Times;
    font-size: 15px;
    line-height: 145%;
    text-align: center;
}

/* .info {
    font-family: 'Source Serif Pro', Times;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
} */

.subheading {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.15em;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15em;
    color: #2C2C2C;
}

.link {
    display: inline-block;

    font-family: 'Noto Serif', sans-serif;

    font-size: 17px;
    line-height: 110%;
    color: #1E67D5;

    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #FFE600;
}



.page {}

.page__move {
    background-color: #E9E9E9;

    padding: 30px 0;
}

.page__together {
    padding: 39px 0 47px;
}

.page__knock {
    background-color: #E9E9E9;

    padding: 29px 0 35px;
}

.page__road {
    padding: 38px 0 59px;
}



.move {}

.move__heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    margin-left: 7px;

    margin-bottom: 11px;
}

.move__text {}



.together {}

.together__subheading {
    margin-left: 5px;

    margin-bottom: 4px;
}

.together__text {
    line-height: 160%;
    text-align: justify;

    margin-bottom: 33px;
}

.together__wrap-image {
    text-align: center;
}

.together__image {
    max-width: 100%;
}



.knock {}

.knock__subheading {
    margin-bottom: 19px;
}

.knock__text {
    line-height: 160%;
    text-align: justify;

    margin-bottom: 16px;
}

.knock__wrap-image {
    text-align: center;
}

.knock__image {
    max-width: 100%;
}



.road {}

.road__subheading {
    line-height: 140%;
    margin-left: 4px;

    margin-bottom: 5px;
}

.road__text {
    color: #1D0639;

    margin-bottom: 33px;
}

.road__border {
    background-color: #FFA7A7;

    border-radius: 10px;
    box-shadow: 4px 4px 15px #FFA7A7;

    max-width: 346px;
    margin: 0 auto;
    padding: 22px 45px 32px 39px;

}

.road__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;

    margin-left: 8px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #fff;
}

.road__title {
    margin-left: 10px;

    margin-bottom: 18px;
}

.road__desc {
    color: #1D0639;

    margin-bottom: 48px;
}

.road__wrap-link {
    margin-left: 5px;

    text-align: center;
}

.road__link {}





.footer {
    background-color: #E9E9E9;

    padding: 35px 0 72px;
}

.footer__title {
    line-height: 150%;

    margin-bottom: 19px;
}


.footer__list {
    font-size: 17px;
    line-height: 110%;
    text-align: center;
}

.footer__item {
    margin-bottom: 21px;
}

.footer__item:last-child {
    margin-bottom: 0;
}